<footer class="footer">
    <p>Navigate:</p>
    <div class="footerDetails">
        <table>       
            <tr>
                <td><a href="/">Home</a></td>
                <td>
                    Blog
                </td>
                <td>
                    Press
                </td>
            </tr>
            <tr>
              <td>
               <a href="onthemenu">On the menu</a> 
              </td>
              <td>
                  Terms of use
              </td>
              <td>
                 FAQ 
              </td>
            </tr>
            <tr>
                <td>
                    Pricing
                </td>
                <td>
                    Our Ingredients
                </td>
                <td>
                    Terms and conditions
                </td>
            </tr>
            <tr>
                <td>
                    INvestors
                </td>
                <td>
                    Gift Cards
                </td>
                <td>
                    Join US
                </td>
            </tr>
        </table>
        <div>
        <a href="rssaini8@myseneca.ca">Contact Me:
        </a>
        <ul class="socialList">
            <li class="socialList1"><a href="/views/button.html"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png"></a></li>
            <li class="socialList2"><a href="/views/button.html"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png"></a></li>
        </ul>
        </div>
    </div>
    <p>Copyright © Fall 2021, Ranveer Singh Saini, WEB322 ZAA</p>
</footer> 