<section class= hero>
            <h2 class=heroTitle>Try Canada's one of the most popular meal kit!</h2>
            <h4>Get any type of food items with all types of garnishes and side sauces that would delivered to your kitchen for FREE.</h4>
            <button class=btnHero><a href="signup">Get Started</a></button>
</section>