<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome to freshlo! as a <strong>Clerk,</strong><br><br>
  {{user.firstName}} {{user.lastName}}
  </h1>
 
</section>