<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome to freshlo! as a <strong>Customer,</strong><br><br>
  {{user.firstname}} {{user.lastname}}
  </h1>
 
</section>
