{{#if customeruser}}
<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome to freshlo! as a <strong>Customer,</strong><br><br>
  {{user.firstName}} {{user.lastName}}
  </h1>
   <h2 style="color:cadetblue; font-size:large">You have {{count}} meal kits added in cart</h2>
  <button><a style="color:cadetblue; font-size:large; text-decoration: none;" href="/meal-kits/cart">View Shopping Cart</a></button><br>
 
</section>
{{else}}
 <h1 style="text-align: center; color:cadetblue; font-size:large">You are not authorized to add meal to cart, please log in</h1>
 {{/if}}
