<div class ="container">
        <h2>Sign Up</h2>
        <p>Create your account with your email address and password</p>
        <form >
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="text" name="emailaddress" placeholder="Email Address">
            <input type="text" name="password" placeholder="Password">
            <input type="button" name="signup" value="Sign Up Today">
        </form>
</div> 
{{!-- Displayed Hero below because it hides form and user have to scroll down for it; --}}
{{>hero}}


