
<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome to freshlo!<br>
  {{value.firstname}} {{value.lastname}}
  </h1>
 
</section>
{{#if msg}}
 <h2 style="text-align: center; color:cadetblue; font-size:large; display:block ; padding-bottom: 10px">{{msg}}</h2>
{{/if}}
