{{nav}}
<section class="welcome">
  <h1 style="text-align: center; color:cadetblue; font-size:large">Welcome!!</h1>
</section>
{{#if msg}}
 <h2 style="text-align: center; color:cadetblue; font-size:large; display:block">{{msg}}</h2>
{{/if}}
{{hero}}
{{footer}}